* {
    box-sizing: border-box;
}

.title {
    font-size: 50px;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 20px;
}

.game-container {
    display: flex;
    justify-content: center;
    height: 100vh;
    /* align-items: center; */
}

.main-game {
    display: flex;
    background-color: aquamarine;
    max-width: 500px;
    max-height: 500px;
    width: 500px;
    height: 500px;  
}

.row {
    width: 100%;
}

.box {
    border: 1px solid black;
    height: 33.3333333%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.box:hover  {
    cursor: pointer;
    background-color: azure;
}

.x {
    position: absolute;
    width: 55%;
    margin: 0;
}

.x-display {
    display: none;

}

.o-display {
    display: none;

}

.x1, .x2 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 8px;
    background-color: rgb(86, 161, 248);
    transform-origin: center;
}

.x1 {
    transform: translate(-50%, -50%) rotate(45deg);
}

.x2 {
    transform: translate(-50%, -50%) rotate(-45deg);
}



.o {
    position: absolute;
    width: 50%;
    border: 8px solid rgb(245, 110, 133);
    height: 50%;
    border-radius: 50%;
}